<h1>The list of dream room</h1>

<table class="table">
  <thead>
    <tr>
      <td></td>
      <th>Name</th>
      <th>Home type</th>
      <th>Room type</th>
      <th>City</th>
      <th>Tags</th>
      <th>Book now!</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody><% count = 0 %>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= count += 1 %></td>
        <td><%= listing.title %></td>
        <td><%= listing.home_type %></td>
        <td><%= listing.room_type %></td>
        <td><%= listing.city %></td>
        <td><%= listing.all_tags %></td>
        <td><button><%= link_to 'Reserve this room!', new_listing_reservation_path(listing) %></button></td>
        <td><%= listing.price %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @listings %><br>

<%= link_to 'New Listing', new_listing_path %>
