<%= form_for [@listing, @reservation], url: listing_reservations_path do |f| %>
  <% if @reservation.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :listing_id %><br>
    <%= f.collection_select :listing_id, Listing.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
